<!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_two_third">

            <div class="col_one_third">



            </div>

            <div class="col_one_third">



            </div>

            <div class="col_one_third col_last">


            </div>

          </div>


        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2017 All Rights Reserved <br>
          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->
