    <!-- Header
    ============================================= -->
    <header id="header" class="full-header clearfix">

      <div id="header-wrap">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu">

            <ul>
              <li><a href="/"><div>Home</div></a></li>
              <!-- <li><a href="/about"><div>About</div></a></li> -->

            </ul>

          </nav><!-- #primary-menu end -->

        </div>

      </div>

    </header><!-- #header end -->
